.card {
  width: 272px;
  margin: 0 4px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}
.card__wrapper {
  position: relative;
  min-height: 78px;
  background-color: #ebecf0;
  border-radius: 3px;
  padding: 8px 8px 6px;
  cursor: pointer;
  max-height: 100%;
}
.card__label {
  display: flex;
  justify-content: space-between;
  min-height: 32px;
}
.card__name {
  display: flex;
  align-items: center;
  padding: 2px 6px;
  font-weight: 700;
  font-size: 13px;
  min-height: 28px;
  width: 220px;
  transition: all .2s;
  word-break: break-word;
}
.card__name:focus {
  outline: none;
  color: black;
  border-radius: 3px;
  border: 2px solid rgb(86, 86, 212);
  background-color: white;
}
.card__menu {
  display: flex;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  transition: all .2s;
}
.card__menu:hover {
  background-color: rgb(209, 209, 209);
}
.card__tasks {
  min-height: 0;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: bottom;
  min-height: 38px;
  margin-top: 10px;
}
.card__add {
  font-size: 13px;
  display: flex;
  height: 32px;
  align-items: center;
  padding: 3px 9px;
  border-radius: 3px;
  transition: all .2s;

}
.card__add:hover {
  background-color: rgb(209, 209, 209);
}

.card__footer span {
  font-size: 16px;
}

.card__template {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  border-radius: 3px;
  height: 28px;
  transition: all .2s;
}

.card__template:hover {
  background-color: rgb(209, 209, 209);
}

.card__item {
  width: 100%;
  min-height: 32px;
  border-radius: 3px;
  word-break: break-word;
  padding: 8px;
  background-color: rgb(255, 255, 255);
  margin-top: 8px;
  font-size: 14px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
}
.card__item:hover {
  background-color: rgb(245, 245, 245);
}

.card__add-form {
  width: 100%;
}
.card__add-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 6px 8px 2px;
  border-radius: 3px;
  background-color: #fff;
}
.card__add-textarea {
  width: 100%;
  min-height: 60px;
  border: none;
  resize: none;
  font-size: 14px;
}
.card__add-textarea:focus {
  outline: none;
}
.card__add-btn-wrapper {
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.card__add-btn {
  height: 32px;
  min-width: 50%;
  border: none;
  border-radius: 3px;
  background-color: rgb(101, 139, 43);
  color: #fff;
  margin-top: 4px;
  font-size: 14px;
  padding: 0 10px;
}
.card__add-btn:focus {
  outline: none;
}
.card__add-btn:hover {
  background-color: rgb(89, 122, 39);
}

.card__add-btn-wrapper .material-icons {
  font-size: 24px;
  margin-left: 8px;
  margin-top: 3px;
}

