.menu {
  position: absolute;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #f4f5f7;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
}
.menu__header {
  position: relative;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 0 8px 0 12px;
}
.menu__header span {
  cursor: pointer;
  position: absolute;
  right: 10px;
}
.menu__divider {
  margin: 0 auto;
  height: 1px;
  background-color: rgba(9,30,66,.13);
  width: 90%;
}
.menu__wrapper {
  padding: 12px 8px 12px 12px;
}
.menu__item {
  position: relative;
  list-style-type: none;
  border-radius: 3px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #172b4d;
  min-height: 32px;
  padding: 6px 6px 6px 40px;
  cursor: pointer;
  font-size: 14px;
}
.menu__item:hover {
  background-color: #d8d8d8;
}
.menu__item-icon {
  position: absolute;
  left: 10px;
  background-color: rgb(115, 160, 47);
  width: 20px;
  height: 20px;
  border-radius: 4px;
}